.about-me-content {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  gap: var(--standard-gap-large);
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  gap: var(--standard-gap-large);
}


.profile-picture img {
  width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: var(--standard-border);
  object-fit: cover;
}

  @media (max-width: 800px) {
    .about-me-content {
      display: block !important;
    }

    .about-me-content div button {
      display: flex;
      justify-self: center;
    }
  }